* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: darkslategrey;
  }
  ::placeholder {
    color: rgb(159, 175, 189);
    opacity: 1; /* Firefox */
    font-weight: 100;
  }
  
h1{
  color: white;
  filter: drop-shadow(1px 1px 3px #00000034);
}
.container {
  align-items: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0;
  background-image: linear-gradient(#82bcff3b, #6e6ea300);

}

.form {
  background-color: transparent;
  text-align: center;
  border: none;
  border-bottom: 1px solid #99acac;
  margin-top: 10px;
  font-size: larger;
  font-weight: bold;
  max-width: 300px;
}

.form:after,
.form:before,
.form:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}


.alerta{
  background-color: rgba(255, 99, 71, 0.781);
  color: #f8fcff;
  margin-top: 10px;
  font-size: small;
  font-weight: 100;
  border-radius: 5px;
}
.btn {
  padding: 10px 30px 10px 30px;
  text-align: center;
  border-radius: 20px;
  margin-top: 10px;
  font-size: small;
  font-weight: bold;
  max-width: 300px;
  border: none;
  background-color: teal;
  color: aliceblue;
}
.btn:hover{
  background-color: skyblue;
  color: darkslategrey;
}
.btn:focus {
  outline: 0;
}

.lista {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
  filter: drop-shadow(0px 0px 3px #2424291c);
}

.item {
  font-size: larger;
  margin: 5px;
  margin-top: 20px;
  list-style-type: none;
  background-color: #f8fcff;
  width: fit-content;
  padding: 0 0px 10px 0px;
  min-width: 400px;
  position: relative;
}

.item:after {
  transform: rotate(180deg);
  transform: scale(0);
  transition: 0.1s ease-in-out;
}

.delete {
  font-size: larger;
  position: absolute;
  color: rgb(209, 220, 228);
  right: 10px;
  top: 0px;
}
.delete:hover {
  cursor: pointer;
  color: tomato;
}

.delete:after {
  transform: rotate(180deg);
  transform: scale(0);
  transition: 0.1s ease-in-out;
}

.nome {
  font-size: larger;
  font-weight: bold;
  color: rgb(69, 71, 88);
}
.email::after{
  background-color: #f8fcff;
}
p {
  padding-left: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
